<div class = "well" id="questionWell">
  <h1>{{model.question.mainQuestion}}</h1>
  <p><span class="bold">{{model.question.author}} :</span> {{model.question.notes}}</p>

  {{new-answer saveAnswer="saveAnswer" question=model.question}}
  {{edit-question question=model.question updateQuestion="updateQuestion"}}
</div>
<div class ="well" id="comments">
  <h1>Comments</h1>
  {{#each model.question.answers as |answer|}}
  <div class="well" id="commentWell">
    <p><span class="bold">{{answer.author}} :</span> {{answer.content}}</p>
  </div>
  {{/each}}
</div>
